
table{
    /* border: 1px solid black; */
    width: 50vw;
    border-collapse: collapse;

    
}
thead th, td{
    border-bottom: 1px solid rgba(98, 94, 94, 0.33);
    height: 5vh;
}
thead th{
    background-color: black;
    color: white;
    text-align: left;
    height: 5vh;
}
tfoot {
    background-color: #f8f9fb;
    font-weight: bold;
}
tfoot tr, tfoot td{
    border-top: 1px solid black;

}
tfoot tr .total{
    margin-left: 0px;
    padding: 0 0 0 0px;
    position: relative;
    /* left: 190px; */
    text-align: right;
    
}